body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

#chat-messages {
    max-height: 40vh;
    padding: 20px;
}

.bubble {
    margin-left: auto;
    background: #a3d0eb;
    color: #272222;
    font-size: 14px;
    text-align: left;
    min-width: 100px;
    max-width: 350px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.bubble:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #a3d0eb;
    top: 85%;
    right: -16px;
    margin-top: -10px;
}

.chat-input {
    max-height: 6vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 0.5vh 0px;
}

#user-input {
    height: 35px;
    max-width: 80%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    resize: none;
}

.textarea {
    display: block;
    min-width: 500px;
    overflow: hidden;
    resize: both;
    height: 100%;
    line-height: 20px;
    border: 1px #ccc solid;
    font-size: 14px;
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    cursor: pointer;
    margin-right: 20px;
}

#send-button {
    border: none;
    appearance: none;
    width: 20px;
}

.icon {
    object-fit: cover;
    width: 40px;
    height: 40px;
}

.cat {
    height: 40vh;
    object-fit: contain;
}
